h1 {
    color: rgb(56, 117, 117);
    font-family: arial;
    text-align: center;
}
h2 {
    font-family: arial;
}
h3 {
    font-family: arial; 
}
body {
    font-family: serif; text-size-adjust: 1,2em;
    background:url(SC/fon.png) no-repeat;
    background-size: cover;
    
}
#Python::first-letter{
    font-size: 300%;
    font-style: bold;
}
#Python{
    border: 2px solid #000000;
    margin: 10px;
}
p{
    line-height: 125%;
}
.p1{
    color: #5340a3;
    text-decoration: underline;

}
.p2{
    color: #f1f37e;
    font-family: 'Franklin Gothic Medium';
    text-decoration: underline;
}
nav{
    display: flex;
    gap: 25px;
    padding-left: 625px;
}
img{
    height: 300px;
    width: 300px;
    text-align: center;
}
#fotogran{
    visibility:hidden;
    width: 600px;
    height: 600px;
}
.fotto{
    text-align: center;
    
}
.ss{
    width: 150px;
    height: 150px;
    align-items: center;
}
